<!-- provides a short description of Sweet Tooth Inc. Nav bar to home page. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Sites</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/web_design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-customclass navbar-expand-lg">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-mobile navbar-toggler-icon icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-mobile collapse navbar-collapse" id="navbarSupportedContent">
            <center>
            <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        Home  <i class="bi-house-door-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="research.html">
                        Research    <i class="bi-search" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="experience.html">
                        CV <i class="bi-boxes" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="play.html">
                        Play <i class="bi-brush" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sites.html">
                        Projects <i class="bi-usb-symbol" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
            </ul>
            </div>
            </center>
        </div>
    </nav>

    <!-- for mobile sites -->
    <script>
        function myFunction() {
            var x = document.getElementById("mynavbar-mobile");
            if (x.className === "navbar-mobile") {
                x.className += " responsive";
            } else {
                x.className = "navbar-mobile";
            }
        }
    </script>
    <div class="transition">
        <div class="container">
            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            <div class="row ">
                <center>
                <p class="padding"></p>
                <div class="col-sm-6 head_wink_wink">
                    <strong>
                    Adriana J. Ladera
                    </strong>
                </div>
                </center>
                <p class="padding"></p>

                <center>
                <div class="col-sm-6">
                    <img src="static/profile_picture.jpg", width="250", height="250"/>
                </div>  
                </center> 
                    
                <p class="padding"></p>
                <center>
                    <div class="col-sm-8 peepee_desc">
                       Graduate Student and NSF Graduate Research Fellow at MIT
                    </div>
                    </center>
                    <center>
                    <!-- <div class="col-sm-6 peepee_desc">
                        Pronouns: she/they
                    </div>
                    </center> -->
                <!-- <p class="padding"></p> -->
                <center>
                <div class="col-sm-6">
                    <button class="btn your-mom" onclick="window.location.href='https://scholar.google.com/citations?user=Je3hcwQAAAAJ&hl=en&oi=ao';">
                        Google Scholar
                    </button>
                    <button class="btn your-mom" onclick="window.location.href='https://orcid.org/0000-0002-5538-5011';">
                        Orcid ID
                    </button>
                    <button class="btn your-mom" onclick="window.location.href='https://www.linkedin.com/in/adriana-ladera-84b18a171/';">
                        Linkedin
                    </button>
                    <button class="btn your-mom" onclick="window.location.href='https://github.com/adrianaladera';">
                        Github
                    </button>
                </div>
                </center> 
            <!-- end row -->
            </div>
            <p class="padding"></p>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <center>
                    <!-- <div class="col-md-2"> -->
                        <img src="static/deadlift.jpg", width="12.5%">
                    <!-- </div> -->
                    <!-- <div class="col-md-2"> -->
                        <img src="static/boston_mirror_lake.jpg", width="12.5%">
                    <!-- </div> -->
                    <!-- <div class="col-md-2"> -->
                        <img src="static/my_children.jpg", width="12.5%">
                    <!-- </div> -->
                    <!-- <div class="col-md-2"> -->
                        <img src="static/port1.jpg", width="12.5%">
                    <!-- </div>  -->
                    <!-- <div class="col-md-2"> -->
                        <img src="static/black_hole_painting.png", width="12.5%">
                        <img src="static/mocha_embroidery.png", width="12.5%">
                    <!-- </div>  -->
                    </center>
                    <p class="padding"></p>
                </div>
            </div>

            <div class="row peepee_desc justify-content-center align-items-center">
                <div class="col-md-10">
                    <p>
                    Hey friend, I'm Adriana! As a Computational Science and Engineering graduate student at MIT, my <a href="https://adrianaladera.github.io/templates/research.html">research interests</a> are to encourage fast feedback loops between ML-proposed novel materials, experimental synthesis, and DFT-based characterization. 
                    </p>
                    <p>
                        From these research interests, I helped co-author 7 papers that are published in peer-reviewed journals, and have been nationally recognized through the <a href="https://www.nsfgrfp.org/">National Science Foundation Graduate Research Fellowship award</a>.
                        I completed my B.S. in Computer Science with Honors and a minor in Physics at the University of South Florida (USF), where I was a full-ride merit scholar under the Bright Futures Florida Academic Scholarship and the the USF Directors Award.  
                        In Spring 2022, I was honored to be featured in USF's <a href="https://www.usf.edu/news/2022/spring-commencement-2022.aspx">Outstanding Graduating Students</a> and 
                     <a href="https://www.usf.edu/engineering/news-room/05-09-2022-nsf-grf-ladera-tuazon.aspx">College of Engineering NSF students</a> articles!
                    </p>

                    <p>
                        My past mentorship roles included being the Vice President of Women in Computer Science and Engineering at USF, as well as an undergraduate Teaching Assistant and Peer Leader through the USF College of Engineering.
                        In these roles, I helped promote gender diversity in CSE and guided students through programming projects and the research process. I am also the creator of <a href="https://buildingstemcells.github.io/">STEM Cells</a>, a website created with the purpose of supporting undergraduate STEM students through graduate, research, and diversity-equity-inclusion (DEI) resources. Finally, as a 2021 alumna of the MIT Summer Research Program (MSRP), I am a reviewer on the MSRP Application Review Committee, in which I aid in selecting applicants based on their commitment to diversity and STEM research.
                    </p>

                    <p>
                    Outside of the lab (aka my computer), I enjoy hanging out with friends and doing <a href="templates/play.html">these activities</a>, as shown in some of the pictures above. Post-Ph.D., I plan to pursue a career as a professor focused on the computational design and engineering of novel materials, with emphasis on promoting diversity, equity, and inclusion for historically underrepresented groups (i.e. women, LGBTQ+, people of color) in STEM.
                    </p>    
                      
                    <!-- <p> 
                        Along my line of interest for human rights social movements and environmental awareness, I have written <a href="static/24_635_Term_Paper_FINAL.pdf">a paper</a> on how intersectional thinking and a paradigm shift in the collective consciousness is required to work towards the end of oppressive structures that are ideologically racist, ableist, patriarchal, capitalist, etc. 
                        I'm also working on a side project that minimizes food insecurity in the greater Boston area, spawned from techniques I've learned from my 6.C57 Optimization Methods class.
                    </p> -->
                    
                    <p>If you like what I research and what I stand for, let's be friends! 
                        <i class="bi-emoji-laughing" style="font-size: 1.0rem;"></i>
                    </p>
                    <div class="padding"></div>
                    <div class="padding"></div>
                    <div class="padding"></div>
                </div>
            </div>
        </div>

            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            
        <!-- end container -->
        </div>
    <!-- end ransition -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
</body>

</html>
