<!-- provides a short description of Sweet Tooth Inc. Nav bar to home page. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/web_design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-customclass navbar-expand-lg">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-mobile navbar-toggler-icon icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-mobile collapse navbar-collapse" id="navbarSupportedContent">
            <center>
            <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        Home  <i class="bi-house-door-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="research.html">
                        Research    <i class="bi-search" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="experience.html">
                        CV <i class="bi-boxes" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="play.html">
                        Play <i class="bi-brush" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sites.html">
                        Projects <i class="bi-usb-symbol" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
            </ul>
            </div>
            </center>
        </div>
    </nav>

    <!-- for mobile sites -->
    <script>
        function myFunction() {
            var x = document.getElementById("mynavbar-mobile");
            if (x.className === "navbar-mobile") {
                x.className += " responsive";
            } else {
                x.className = "navbar-mobile";
            }
        }
    </script>
    <div class="transition">
        <div class="container">
            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            <div class="row head_wink_wink justify-content-center align-items-center">
                <div class="col-md-10">
                Play
                
                <!-- <p class="peepee_desc">While projects like research papers and coming up with the code/design for this website
                    are fun, I do have a handful of non-academic, non-coding hobbies, including piano, lifting, and cuddling with my cat.
                </p>

                <p class="peepee_desc">Warning: this page displays content containing <em>piano, art, sports, and cats, </em>among
                    other miscellaneous items. Proceed with caution.
                </p>
                <p class="peepee_desc">
                    NOTE: all the text in <a href="#">light blue</a> are active links. Click on any <a href="#">light blue text</a> 
                    to be taken to an external link!
                </p> -->
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Music 
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        Of all the activities on this page, piano is probably the one I've been doing the longest (I started when I was 9! Unfortunately, I also took a very long
                        pause that lasted for the entire duration of undergrad, which adds up to 9 solid years of actually playing the piano). I also composed two pieces as part of my curriculum for my International Baccalaureate Higher Level Music (IB Music HL) class, which helped me to score a 5 on my overall IB Music HL portfolio.
                    </p>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; <a href="https://musescore.com/user/19251001/scores/3807911">The Escape</a> - <em>for symphony orchestra</em>
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; <a href="https://musescore.com/user/19251001/scores/5040622">Winter Prelude</a> - <em>for solo piano</em>
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; Still hunting for the best films of my piano solos, but for <a href="https://drive.google.com/drive/u/1/folders/1FkooNBlWQNwy6RGmiRKD9FHiMfuLd_8-">now</a> 
                    </div>
                </div>
            </div>
            
            

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Photography and Art
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        The entire portfolio for my photography work 
                        at <a href="https://www.instagram.com/materialiaphoto/">
                            @materialiaphoto
                        </a>. My art is usually either inspired by my research or memes.
                    </p>
                </div>
                <p class="padding"></p>
                <div class="col-md-2">
                    <img src="../static/boston_mirror_lake.jpg", width="100%">
                    <center><p class="peepee_small">Boston Mirror Lake, iPhone 12 Pro</p></center>
                </div>
                <div class="col-md-2">
                    <img src="../static/vessel.jpg", width="100%">
                    <center><p class="peepee_small">New York City Vessel, Nikon D5200 18mm</p></center>
                </div>
                <div class="col-md-2">
                    <img src="../static/electro_pot.jpg", width="100%">
                    <center><p class="peepee_small">RGB-Illuminated Nets, iPhone 12 Pro</p></center>
                </div>
                <div class="col-md-2">
                    <img src="../static/skyscrapers.jpg", width="100%">
                    <center><p class="peepee_small">City Skyscrapers, iPhone 7</p></center>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <p class="padding"></p>
                <div class="col-md-2">
                    <img src="../static/black_hole_painting.png", width="100%">
                    <center><p class="peepee_small">"Praising the Void", acrylic</p></center>
                </div>
                <div class="col-md-2">
                    <img src="../static/mocha_embroidery.png", width="100%">
                    <center><p class="peepee_small">"Fibrous MOCha amines", embroidery</p></center>
                </div>
                <div class="col-md-2">
                    <img src="../static/timon_painting.jpg", width="100%">
                    <center><p class="peepee_small">"'Cas van de Pol' Timon", acrylic</p></center>
                </div>
                <div class="col-md-2">
                    <img src="../static/mocha_painting.png", width="100%">
                    <center><p class="peepee_small">"silver 4-<em>[meth]</em>oxy", acrylic</p></center>
                </div>
            </div>
            <p class="peepee_desc"></p>

            <p class="padding"></p>


            <!-- <p class="padding"></p> -->
            
            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Physical
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        As much as I love sitting idly at my computer to do research, I also appreciate getting active
                        every once in a while. From left to right are snapshots of me in action: hitting a 2 plate conventional deadlift in Halloween costume (Nov. 2023), my most recent v5 (May. 2023), 
                        performing the V-split elbow lever (Nov. 2022), and my first (and only) half marathon (Nov. 2016) before retiring from running.
                    </p>
                </div>
                <p class="padding"></p>
                <div class="col-md-2">
                    <img src="../static/deadlift.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/sexyv5.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/elbowlever.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/halfmarathon.jpg", width="100%">
                </div> 
            </div>
            <p class="padding"></p>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <div class="deez_nuts_subsubhead">
                        Lifting (max set x 5) @ 112lbs / 50.9kg BW (c. August 2023)
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; deadlift (conventional): 250lbs / 113.64kg / 2.23x BW
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; squat: 190lbs / 86.2kg / 1.73x BW
                    </div>  
                    <div class="col-md-10 peepee_desc">
                        &#x2022; bench: 90lbs / 40.8kg / 0.81x BW
                    </div>
                    <div class="deez_nuts_subsubhead">
                        Rock climbing (c. September 2022, dormant) -- completed 2 v5's
                    </div>
                    <!-- <div class="col-md-10 peepee_desc">
                        &#x2022; v5's completed: x2
                        &#x2022; v4 (currently)
                    </div> -->
                    <!-- <div class="deez_nuts_subsubhead">
                        Calisthenics (c. November 2022)
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; V-split elbow lever
                        &#x2022; x10 pistol squat
                        &#x2022; 10 pull ups
                        &#x2022; L-sit
                        &#x2022; skin the cat!
                    </div>
                    <div class="deez_nuts_subsubhead">
                        Running (c. 2015, retired)
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; 6:28 mile PR; 24:37 5K / 3mi PR
                        &#x2022; 1 x 13.1 mi (half marathon)
                    </div> -->

                </div>
            </div>

            <p class="padding"></p>

            <!-- <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Piano
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        Of all the activities on this page, piano is probably the one I've been doing the longest (I started when I was 9! Unfortunately, I also took a very long
                        pause that lasted for the entire duration of undergrad, which adds up to 9 solid years of actually playing the piano). 
                        I'm still hunting for the best films of my full performances, but for now, <a href="https://drive.google.com/drive/u/1/folders/1FkooNBlWQNwy6RGmiRKD9FHiMfuLd_8-">here</a> 
                        are some clips of me fooling around on those black and white keys (aka, practicing or meme-ing).
                    </p>
                     <div class="col-md-10 peepee_desc">
                        &#x2022; "Winter Wind" (Opus 25, Number 11) - Frédèric Chopin
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; "Bumble Boogie" - Jack Fina
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; "Meme Mashup" - arranged by me! : this is a compilation of some meme songs that were trending at the time (c. 2018), which were-- in order-- "The Warner Bros Intro", "Thomas the Tank Engine Theme",
                        "The Rake Hornpipe" - Spongebob Production Music, and the "Mickey Mouse Clubhouse Theme".
                    </div>
                    <div class="col-md-10 peepee_desc">
                        &#x2022; "Me, a professional" - I'm ... not sure what was going on here. I was 15. That's all I know.
                    </div> 
                </div>
            </div>

            <p class="padding"></p> -->

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Plates
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        What better way to test your creativity than by experimenting with flavor combinations?
                        Featured are some of my favorite dishes turned vegetarian, including tacos, ramen, lumpia (a 
                        Filipino favorite), and banana pancakes with homemade whipped cream.
                    </p>
                </div>
                <p class="padding"></p>
                <div class="col-md-2">
                    <img src="../static/tacos.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/ramen.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/lumpia.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/pancakes.jpg", width="100%">
                </div>
            </div>

            <p class="padding"></p>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Portobello and Plants
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        I have an adorable round void named Portobello. Contrary to the reputation of black cats being reclusive Halloweenie mascots, this little guy is extremely cuddly,
                        and loves to snuggle in his sleep! He also loves to eat my plants, which is why I now have several cat-safe plants on higher shelves.
                    </p>
                </div>
                <p class="padding"></p>
                <div class="col-md-2">
                    <img src="../static/port2.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/port1.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/port3.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/port4.jpg", width="100%">
                </div>
            </div>
            <p class="padding"></p>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-2">
                    <img src="../static/my_children.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/verona.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/port_and_plants.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/alejandro.jpg", width="100%">
                </div>
            </div>
            
            <!-- <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-10">
                Plantastic
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10">
                    <p class="peepee_desc">
                        In my free time, one of my other hobbies is botany. Some of my recent
                        plants are featured below, including an unlucky visitor to my venus fly traps and a fresh
                        pick from my bell pepper plant.
                    </p>
                </div>
                <p class="padding"></p>
                <div class="col-md-2">
                    <img src="../static/my_children.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/verona.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/port_and_plants.jpg", width="100%">
                </div>
                <div class="col-md-2">
                    <img src="../static/alejandro.jpg", width="100%">
                </div>
            </div> -->

            <p class="padding"></p>

            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            <p class="padding"></p>
            
        <!-- end container -->
        </div>
    <!-- end ransition -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
</body>

</html>
